<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wei.image">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.wei.db.image.select_pic.BitmapCache" />
        <activity android:name="com.wei.db.image.select_pic.ui.AlbumActivity" />
        <activity android:name="com.wei.db.image.select_pic.ui.GalleryActivity" />
        <activity android:name="com.wei.db.image.select_pic.ui.ImageFileActivity" />
        <activity android:name="com.wei.db.image.select_pic.ui.ShowAllPhoto" />
        <activity android:name="com.wei.db.image.show_pic.image.ImagePagerActivity" />
    </application>

</manifest>
